/*///////////////////////HEADER Y SUS ELEMENTOS//////////////////////*/

header{	
    font-family: deleo;
    color: white;
    font-size: 15px;
    display:grid;
    background-image: url(../fotos/cabecera.jpg);
    height: 250px;
    align-content: end; 
}
@font-face {
    font-family:deleo;
    src: url(BarlowSemiCondensed-Medium.ttf);
}
#contenedorNavHeader #navNavegacion{
    display:grid;
    grid-template-columns:repeat(6,10%); 
    grid-template-rows:50px ;
    grid-column-gap: 15px; 
}
#navNavegacion > li{
    background: #8C7210;
    text-align: center;
    list-style: none;
    padding-top: 15px;
}
li a,#pos > li a{
    text-decoration: none;
    color: white;
}
/*//////////////////////////////////////////////////////////////////////*/



/*////////////////////////MIGAS DE PAN/////////////////////////////////////*/
#pos{
    width: 100px;
}

#pos > li{ 
    list-style: none;  
    height: 30px;
    margin-left: 5px;

    background:rgba(  23, 32, 42,0.5
    ) ;
    /*    border-radius: 50px;*/
    text-align: center;
    padding-top: 7px;
    padding-bottom: 1px;
    width: 100px;
    moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #ffff;   
}
#pos > li a{
    font-family: deleo;
}
#pos li:after {
    content: '\00bb'; /* Isto significa >> */
    opacity: 0;
    right: 0;
    transition: 0.5s;
}
#pos:hover li {
    padding-right: 25px;
}
#pos:hover li:after {
    opacity: 1;
    right: 25px;
}
/*//////////////////////////////////////////////////////////////////////*/





/*///////////////////////////MAIN Y SUS ELEMENTOS///////////////////////////////////////*/
main{
    display: grid;
    grid-template-areas: "section section"                   
        "footer footer";
}
section {
    grid-area: section; 
    height: auto;
    text-align: center;
    background-color:  #f1e4cc;

}
footer{ 
    grid-area: footer;
    height: 100px;
}

#ofertas{
    position: relative;
}


/*//////////////////////////////////////////////////////////////////////*/




/*////////////H3 y P DENTRO DEL SECTION/////////////////*/
#nombreEmpresa{
    margin: 0px;
    font-size: 40px;
    font-family: deleo;
}
#formatoParrafo {
    font-family: deleo;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}


/*//////////////////////////////////////////////////////////////////////*/





/*//////////////////CONTENEDOR DE LOS DOS FIGURES ofertas y marcas ////////////*/

#contOfertasMarcas{
    display: grid;
    grid-template-columns:1fr 1fr;
}


/*//////////////////////////////////////////////////////////////////////*/






/*////////////////// FIGURES ofertas y marcas ////////////*/

#marcas,#ofertas{
    margin: 0px;
}
#marcas{ /* marcas se comporta como contenedor de los div circulo*/
    display:grid;
    grid-template-columns:repeat(2,40%) ;
    justify-content: center;
    grid-gap: 10%;
    align-content: center;
    background-image: url(../fotos/bajo.jpg);
}
.marca{
    align-content: center;
    height: 150px;
    border-radius: 10px;
    border: 5px solid gray;
}
.marca:hover{
    background-color: #b9b5ad;
    transition: 0.5s;
    box-shadow: 0 40px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:10px;
}

#ofertas img{
    width: 100%;
    height: auto;
    opacity: 0.5;
}



/*//////////////////////////////////////////////////////////////////////*/






/*////////////////////FOOTER//////////////////////////////*/

#sigenosRedes{
    font-family: deleo;
    font-size: 30px;
}

#redes{
    display: grid;
    grid-template-columns: repeat(4,15%);

}

#redes figure img{
    width: 50px;
    align-content: center;
}

#letrasInferioresFooter{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

#letrasInferioresFooter a{
    font-family: deleo;
    text-decoration: none;
}
/*//////////////////////////////////////////////////////////////////////*/






/*///////////////////////////HOVERS//////////////////////////////////////*/

#navNavegacion > li:hover{
    transition: 0.5s;
    background-color: gray;	
}

#navNavegacion > li a:hover{
    color:black;
}
#letrasInferioresFooter a:hover{
    color: gray;
}
#ofertas img:hover{
    opacity: 1;
    transition: 0.5s;


}

#palabraOferta{
    font-size: 10em;
    font-family: deleo;
    position: absolute;
    right: 15%;
    bottom: -15%;
    opacity: 0.0;

}
#palabraOferta:hover{
    /*    display: none;*/
    /*    visibility: visible;*/
    color: white;
    opacity: 1;
    transition: 0.5s;

}




/*//////////////////////////////////////////////////////////////////////*/





/*/////////////////////////////MEDIAQ///////////////////////////////*/
@media only screen and (max-width: 1200px){
    header{
        background-image:url(../fotos/concierto1.jpg);   
        align-content: center;
    }
    #marcas{
        grid-column-gap: 150px;
        grid-row-gap: 50px;
        padding: 5%;
    }
    .marca{        
        border-radius: 5px;
        align-content: center;
        height: 100px;
    }
    #contenedorNavHeader #navNavegacion{
        display:grid;
        grid-template-columns:20%; 
        grid-template-rows:repeat(6,40px) ;
    }
    #navNavegacion > li{
        background: none;
        border-bottom:2px solid gray; 	
    }
    #navNavegacion > li:hover{
        transition: 0.5s;
        background: #8C7210;
    }
    #contOfertasMarcas{
        grid-template-columns: 1fr;
    }
    #redes{
        justify-items: center;
        justify-content: center;
    }
    section{
        height: auto;
    }

    #formatoParrafo{
        display:none;
    }
}

@media only screen and (max-width: 800px){

    #contenedorNavHeader #navNavegacion{
        grid-template-columns:150px; 
    }
    #marcas{
        grid-template-columns:1fr; 
    }

}

@media only screen and (max-width: 600px){

    #redes{	
        display:grid;
        grid-template-columns:100%; 
    }
    #redes figure{
        width: 100%;
        text-align: center;
    }
    #redes figure:hover{
        border-radius: 10px;
        transition: 0.3s;
        border:3px solid gray;
        box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
    }
    #letrasInferioresFooter{
        display:grid;
        grid-template-columns:100%;
        background-color: #DEE6F0;
        height: 150px;

    }



}