/*//////////NUEVAS MODIFICACIONES CSS3 ///////////////*/

figure:hover{
    background-color:#8E9192;
    /* transición en el hover*/ 
    -webkit-transition-duration: 1s; /* Safari */
    -ms-transition-duration: 1s; /* IExplorer */
    -moz-transition-duration: 1s;/* Mozilla */
}
#entrevistaFoto{
    width: 400px;
    height: 350px;
    margin: 0;
    /*ligera opacidad a imagen de entrevista */
    opacity: 0.6;
}

/*////////////////////////////////////*/

/*HEADER*/
header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/pedalesCab.jpg);
}

#cajaAccesorios{
    width: 900px;
    height: 300px;
    margin-top: 160px;
    float: left;
}
section figure{
    width: 200px;
    height: 100px; 
    display: inline-block;
    margin-bottom: 50px;


}
#entrevista{
    width: 400px;
    height: 500px; 
    float: right;
    margin:80px 80px 0 0;   
}
#entrevistaTexto{
    width: 400px;
    height: 150px;
    margin-top: 350px;
}

p a{
    color:#FE7D0F;
}
p a:active{
    color:#3B6914;
}




