/*///////////////////NUEVAS MODIFICACIONES CSS3////////////*/
/*  Transiciones para mover de izquierda a derecha las fotos*/
#fotoAmpliCentro{
    float: left;
    margin: 7% 0 0 0;
    position: relative;
    -webkit-animation-name: moverAmpliCentro;  
    -moz-animation-name: moverAmpliCentro; 
    -ms-animation-name: moverAmpliCentro; 
    -webkit-animation-duration: 3s; 
    -moz-animation-duration: 3s;  
    -ms-animation-duration: 3s;  
}
@keyframes moverAmpliCentro {
    from { right:  600px; }
    to { right:  0px;}
}

#fotoAmpliDcha{
    float: right;
    margin: 7% 0 0 0;
    position: relative;
    float: right;
    margin: 7% 0 0 0;
    position: relative;
    -webkit-animation-name: moverAmpliDerecha; 
    -moz-animation-name: moverAmpliDerecha; 
    -ms-animation-name: moverAmpliDerecha; 
    -webkit-animation-duration: 3s; 
    -moz-animation-duration: 3s;  
    -ms-animation-duration: 3s;  
}
@keyframes moverAmpliDerecha {
    from { right:  1200px; }
    to { right:  0px;}
}

/*//////////////////////////////////////////*/

/*HEADER*/
header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/amplis.jpg);
}
section{
    height: 600px;
}

#fotoAmpliIz,#fotoAmpliCentro,#fotoAmpliDcha{
    width: 370px;
    height: 330px;    
}
/*//////POS DE FIGURES(EXPLICACIÓN)////////
Con este código puedo evitar que el figure que está flotado a la
derecha, se salga de su pos al centrar el figure central.
Al poner margen lateral derecho a los figure iz y central,el figure dcho se salía.De esta forma,el figure del centro se flota pero depende del "empujón" que le da el figure iz,sin afectar al figure derecho.
*/

#fotoAmpliIz{
    float: left;
    margin:7% 18% 0 0 ;   
}


/*FIGURE*/
#fotoAmpliIz figure{

    width: 280px;
    height: 280px;   
}
#fotoAmpliCentro div,#fotoAmpliDcha div,#fotoAmpliIz div{
    width: 370px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
/*HOVERS*/
#fotoAmpliIz:hover,#fotoAmpliDcha:hover,#fotoAmpliCentro:hover{
    background-color: #FCE2C5  ;
}

