
/*///////////////////NUEVAS MODIFICACIONES CSS3////////////*/
#oferta{
    border: 1px solid #A9A7A6 ;
    width: 500px;
    height: 400px;
    float: right;
    padding-right: 80px;
    margin-top: 100px;
    text-align: center;
    /*Para dar profundidad a esta caja,añadí sombra  */
    box-shadow: 10px 10px 5px #BBB7AF ;

}
#oferta{
    border: 1px solid #A9A7A6 ;
    width: 500px;
    height: 400px;
    float: right;
    padding-right: 80px;
    margin-top: 100px;
    text-align: center;
    /*Para dar profundidad a esta caja,añadí sombra  */
    box-shadow: 10px 10px 5px #BBB7AF ;

}
/*Se sale de la caja,con ellipsis muestra puntos
suspensivos */
#oferta p{
    text-overflow: ellipsis;
    overflow: hidden;
}

/*//////////////////////////////////////////////*/

/*HEADER*/
header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/yaco.jpg);
}
section article{
    width: 700px;
    height: 600px;
    float: left;

}

/*FIGURE*/
section article figure{
    width: 200px;
    height: 400px;
    margin-top: 90px;

}
#iz{
    float: left;


}
#dcha{
    float: right;
}
.enlaceFotosBajos{
    width: 200px;
    height: 50px; 
    float: left;  
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}


.articlesEnlaces{
    width: 700px;
    height: 100px;  
}



#oferta #posAmpli{
    width: 300px;
    height: 300px;   
    margin:30px 0px 0px 250px;
}
#textoOferta{

    width: 220px;
    float: left;
    height: 300px;
    margin-top: 10px;
    text-align:left;
    margin-left: 20px;
}
#textoOferta strong{
    font-size: 60px;
    margin: 20px;
}
#textoOferta div{
    height: 50px;

    width: 200px;
    text-align: center;
    padding: 20px;
}

/*FIGURE DIV A */
#textoOferta a {
    font-size: 40px;
    width:250px;
    height:50px;
    list-style:none;
    text-decoration: none;
    padding-top: 10px;
    font-style: italic;
}

/*HOVERS*/
#textoOferta a:hover{
    color:#FE7D0F;
}

.enlaceFotosBajos a:hover{
    color:#FB8827  ;
}
