/*///////////////////MODIFICACIONES CSS3 //////////////*/

section{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 450px;
    border: 1px solid gray;
    /*  sombra en caja de"caracteristicas generales"*/
    box-shadow: 10px 10px 5px #BBB7AF ;
}
/*sombra en th de la tabla */
th{
    text-shadow: 0 0 3px #2E8029;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:  #FAEFCC ;
    /*Gradiente en la tabla */
    background-image: linear-gradient(to right, rgba(190, 190, 200  ), rgba(159, 209, 158 ));
}


/*////////////////////////////////////////////////////*/

header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/tienda.jpg);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 50px;
    
}




figure{
    float: left;
}

section h2,article{
    float: right;
}
section h2{
    margin-right: 50px;
}
article ul{
    position: relative;
    right: 50px;
    top:40px;
    margin: 0;
}
article ul li{
    margin-bottom: 30px;
    font-size: 1.5em;
}

