section{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 400px;
    border:1px solid #B3B3B3;
    margin-top: 100px;
}
figure img{
margin-left: 100px;
}
figure h4{
    text-align: center;
}