
/*///////////////////NUEVAS MODIFICACIONES CSS3////////////*/

/* LETRAS MODIFICADAS */
@font-face {
    font-family:LetrasCabecera;
    src: url(../fuentes/BarlowCondensed-Regular.ttf);       
}
.enlacesNav {
     font-family: LetrasCabecera;
    font-size: 1.2em;
}
/*LI A*/
.enlacesNav { width:150px;
    height:50px;
    float:left;
    list-style:none;
    text-decoration: none;
    background: #8C7210;
    padding-top: 10px;
    font-style: italic;
    color: #D8D6D5  ;
    /*Transisción de pestañas de la cabecera */
    -webkit-transition-duration: 0.4s; /* Safari */
    -moz-transition-duration: 0.4s; /* firefox */
    -ms-transition-duration: 0.4s; /* edge */
    cursor: pointer;
}

/*/////////////////////////////////////////*/
body{
    font-family:verdana;
    background-color: #FFFFFF;      
}
/*HEADER*/
header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/contacto.jpg);
}
.formatoParrafo{
    width:1000px;
    font-size:1em;
    margin-left:auto;
    margin-right:auto;
}

main {
    width: 90%;
    float: left;
}

/*UL LI*/
header ul{
    position: relative;
    top: 230px;
}
header nav ul li {
    width:150px;
    height:50px;
    float:left;
    list-style:none;
    margin-right: 10px;
    text-align: center;

}
.alejar{
    margin-left: 100px;
    border-radius: 90%;
}




section{
    width: 800px;
    height: 450px;
    background-color:#F2E6CC;
    margin-right: auto;
    margin-left: auto;
}

.enlacesNav:hover{
    color: #FA4B1C ;

}

main h2{
    margin-top: 70px;
}
/*FORM*/

section article{
    float: left;
    width: 300px;
    height:450px;
    border: 2px solid #B7B4AF  ;
    background-color: #ffff;

}
article p{
   
    text-align: center;
    margin-top: 100px;
}



/* FOOTER*/

footer{        
    width: auto;
    height: 150px;
    margin-top: 100px;
    padding: 50px 0 0 0;
    

}

.letrasInferioresFooter{

    background-color:#FDF9EC  ; 
    width: 80%;
    padding: 0 0 0% 25%;
    margin-top: 10px;

}
.letrasInferioresFooter a{
    padding: 0% 10% 0% 0%;
    font-size: 10px;

}



/*DIV LATERALES */

.ladosIz{
    width: 5%;
    height: 800px;         
    float: left;
  
}

.ladosDc{
    width: 5%;
    height: 800px;    
    float: right;
   

}

/*HOVERS*/

.letrasInferioresFooter a:hover{
    color:#FE7D0F;
}
.enlacesNav:hover {
    background: #CCB;
}

.alejar a img:hover{     

    background-color: #8C7210;
}
