/*///////////////////NUEVAS MODIFICACIONES CSS3////////////*/

/* modificar letra formulario */
@font-face {
    font-family:LetrasForm;
    src: url(../fuentes/BarlowCondensed-Regular.ttf);

}
#textoDuda {
    font-family: LetrasForm;
    font-size: 20px;
}
#info #informacion{
    font-family: LetrasForm;
    font-size:30px;
}
/*Hover con transición en el li del form */
li:hover{
    background-color: #B7B4AF;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
}
form {
    height:450px;
    /*gradiente en la parte izquierda del form */
    background-image: linear-gradient(to right, rgba(137, 172, 139  ), rgba(70, 67, 181  ));

}


/*/////////////////////////////////////////////*/


#textoDuda{
    font-size: 1em;
    margin:  0px 5px 0px 5px;
}
#boton input{
    border-radius: 20px;
    float: right;
    width: 20%;
}
.completo input{
    width: 200px;
    height: 20px;
    border-radius: 20px;
    margin-top: 20px;
}


#alta {
    padding: 10px;  
}

.titulo {
    font-size:1em;
    width: 200px;
}

label {
    display: block;              
    font-size: 10px;
}
span {
    float: left;
    padding-bottom: 10px;
}

.completo {
    width: 100%;

}
.tercio{
    width: 33%;

}
.dostercios{
    width: 50%;

}
input:focus {
    border: 2px solid rgb(116, 152, 112);

}
.mitad{
    margin-right: 70px;
}

form ul li {
    overflow: hidden;
    padding: 1em;
}




