/*//////////NUEVAS MODIFICACIONES CSS3 ///////////////*/

/*LI A*/
.enlacesNav {
    width:150px;
    float:left;
    list-style:none;
    text-decoration: none;
    background: #8C7210;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #D8D6D5  ;
    cursor: pointer;
    /* Transición de pestañas de menu de cabecera */
    -webkit-transition-duration: 0.8s; /* Safari */
    -ms-transition-duration: 0.8s; /* IExplorer */
    -moz-transition-duration: 0.8s;/* Mozilla */

}
/* Cambio de letra de il de cabecera */
@font-face {
    font-family:LetrasCabecera;
    src: url(../fuentes/BarlowCondensed-Regular.ttf);
}
.enlacesNav {
    font-family: LetrasCabecera;
    font-size: 1.2em;
}

.alejar img:hover{     
    background-color: #8C7210;
    /*al carrito se le añade border radius */
    border-radius: 10%;
}

/*///////////////////////////////////////////////*/

body{
    font-family:verdana;
    background-color: #FFFFFF;  
    margin: 0;    
}

.formatoParrafo{
    width:1000px;
    font-size:1em;
    margin-left:auto;
    margin-right:auto;
}

/*UL LI*/
ul{
    position: relative;
    top: 230px;
}
header nav ul li {
    width:150px;
    height:50px;
    float:left;
    list-style:none;
    margin-right: 10px;
    text-align: center;

}
.alejar{
    margin-left: 100px;

}



.enlacesNav:hover{
    color: #FA4B1C ;
}

main{
    width: 90%;
    float: left;
}

footer{        
    width: auto;
    height: 150px;
    margin-top: 100px;
    padding: 50px 0 0 0;
    clear: both;


}
.letrasInferioresFooter{
    background-color:#FDF9EC  ; 
    width: 80%;
    padding: 0 0 0% 25%;
    margin-top: 10px;

}
.letrasInferioresFooter a{
    padding: 0% 10% 0% 0%;
    font-size: 10px;

}

/*DIV LATERALES*/
.ladosIz{
    width: 5%;
    height: 800px;         
    float: left;

}

.ladosDc{
    width: 5%;
    height: 800px;    
    float: right;


}
/*HOVER*/
.letrasInferioresFooter a:hover{
    color:#FE7D0F;
}

.enlacesNav:hover {
    background: #CCB;
}

@media only screen and (max-width: 1280px){
    ul {

        padding: 0;
        width: 80%;
    }
    .letrasInferioresFooter{
        padding: 0 0 0% 15%;
    }

    header nav ul li{
        float: none;
        width: 100%;

    }
    .enlacesNav{
        width: 100%;
        background-color: #D5D2C1  ;
        border-radius:10px;
        border:2px solid gray; 
        color: black;
    }
    ul{
        position: relative;
        top: 300px; 
        left: 10%;
    }
    header{
        padding-right: 15%;
        padding-top: 10px;
    }
    footer article{
        margin-left: 10%;
    }
    main{

        width: 100%;
    }


}
@media only screen and (max-width: 800px){
    main{
        width: 100%;
    }
    header nav{
        margin-left: 15%;
    }
    ul{  
        left: 0%;
    }

    footer article{
        width: 100%;
        margin: 0;
    }

    .letrasInferioresFooter a {
        font-size: 20px;
        display: block;
        text-align: center;
        text-decoration: none;
    }


    .letrasInferioresFooter{
        padding: 5%; 
        width: 100%;
        background-color: white;
    }
    footer{
        padding: 0px;
    }

}

@media only screen and (max-width: 361px){
    header{
        background-image:url(../fotos/jacoMovil.jpg);
        background-repeat: no-repeat;
        background-color: black;
    }



}



