/*//////////NUEVAS MODIFICACIONES CSS3 ///////////////*/

/* Modificaciones del parrafo mediante Fonts*/
@font-face {
    font-family:index;
    src: url(../fuentes/BarlowSemiCondensed-Medium.ttf);

}
h1,#enlacesBjosFiveString h3{
    font-family: index;
    font-size: 40px;
}

h3{
    font-family: index;
    font-size: 50px;
}
.formatoParrafo {
    font-family: index;
    font-size: 800px;


}
/*FIGURE DENTRO DE .marcas*/
.marcas .fotosAsideIz{
    width:30.41666666666667%;
    height: 200px;         
    float: left;
    margin-left: 100px;
    /*  Esto permite poner una transición en la zona de las marcas*/
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;


    cursor: pointer;
    /* border radius para poner circular el fondo.*/
    border-radius: 80%;
    border: 3px solid #C4C3C2 ;
}
.marcas .fotosAsideDcha{
    width: 30.41666666666667%;
    height: 200px;        
    float: right;
    margin-right: 0px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 80%;
    border: 3px solid #C4C3C2   ;
}

/* Modifiqué el p que invita a seguir la pag en redes */
@font-face {
    font-family:siguenosRedes;
    src: url(../fuentes/Caveat-Bold.ttf);
}
.sigenosRedes p{
    font-family: siguenosRedes;
    font-size: 30px;
}
/*HOVERS*/
.bordeFotoHover img{
    opacity: 0.6;
    transition: 0.3s; 
    width: 100%;
    height: auto;
}
/* Le puse opacidad al pasar el ratón encima de la imagen */
.bordeFotoHover img:hover {opacity:1}
.fotosAsideIz:hover,.fotosAsideDcha:hover{
    background-color: #EAE8E8 ;
}
/*//////////////////////////////////*/

header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/cabecera.jpg);
}

.formatoParrafo{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

/*SECTION*/
.contenido{
    height: 300px;
}
/* He modificado los enlaces de las fotos para 
dar más volúmen a la página
*/
#enlacesBjosFiveString{
    width: 46.875%;
    background-color: #E5D9C3  ;
    height: 620px;
}
h3{
    text-align: center;
    margin: 10px 0 0 0  ;
}

#enlacesBjosFiveString figure{
    background-color: #ffffff; 
    width: 70%;
    height: auto;
    margin-left: 15.8125%;
    margin-bottom: 50px;
}

#enlacesBjosFiveString h1{
    text-align: center;
    font-size: 1.5em;
}
#enlacesBjosFiveString p{
    float: left;
    position: relative;
    left: 100px;
    top: 100px
}


/*ARTICLES*/
figure,article,.logos,.sigenosRedes{
    float: left;
}
.marcas{
    width: 36.45833333333333%; /* 700/1920 = 36,45833333333333 */
    height:620px;
    float: right;
    padding-right: 80px;
    background-image: url(../fotos/concierto.jpg);


}
.marcas h1{
    text-align: center;
    margin-top: 10px;
    text-align: center;
}

.fotosAsideIz .ibanez{  
    margin-top: 40px;
    margin-left: 20px;
}
.fotosAsideDcha .fender{  
    margin-top: 40px;
    margin-left: 25px;
}
.fotosAsideIz .yamaha{  
    margin-top: 40px;
    margin-left: 25px;
}
.fotosAsideDcha .ashdown{  
    margin-top: 45px;
    margin-left: 25px;
}

/* FOOTER*/

.logos{
    width: 100px;
    height: 30px;
    padding-top: 20px;
}
.sigenosRedes{
    width: 600px;
}

@media only screen and (max-width: 1280px){


    .formatoParrafo{
        display: none;
    }

    #enlacesBjosFiveString,.marcas{
        width: 100%;
        height: auto;       
    }
    .ladosIz,.ladosDc{
        display: none;
    }
    .marcas .fotosAsideIz, .marcas .fotosAsideDcha{
        border-radius: 0%;
        width: 36.04166666666667%;
        height: 100px;
        display: inline-block;
        text-align: center;
        margin-left: 0px; 

    }
    .fotosAsideDcha .fender,.fotosAsideDcha .ashdown,.fotosAsideIz .ibanez ,.fotosAsideIz .yamaha {
        margin-top: 0; 
        margin-left: 0;
        float: none;

    }
    .marcas{
        float: left;
        padding-right:0;

    }
    main > section{
        margin-top: 300px;
    }
    .contenido{
        margin-top:0px;
    }
    nav #pos{
        position: relative;
        top: -170px;
        transform-style: none;
    }
    footer article{
        margin-left: 20%;
        width: 100%;
    }

}


@media only screen and (max-width: 800px){

    #enlacesBjosFiveString,.marcas{
        width: 100%;
        height: auto;
    }   
    .marcas .fotosAsideIz,.marcas .fotosAsideDcha {
        float: none;    
        display: block;   
        background-color:#DBDEDB  ;
        text-align: center;
        margin: 0 auto;
        width: 66.04166666666667%;   
    }  
    .marcas{
        padding: 0;
    }
    .sigenosRedes{
        display: none;
    }
    .logos{
        width: 100%;
        float: none;
        height: 80px;
    }

    .logos img{
        width: 30%;
        margin-left: 30%;  
    }
    .formatoParrafo,section > h3{
        display: none;
    }      
}
@media only screen and ( max-width:361px){
    .logos img{
        margin-left: 20%;
        width: 40%;
    }
}












