/*//////////NUEVAS MODIFICACIONES CSS3 ///////////////*/


#pos{
    position: relative;
    top: 5px;
}
#pos li{    
    list-style: none;
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 150px;
    background-color: gray;
    border-radius: 50px;
}
/*   cambio de letra en migas de pan */
@font-face {
    font-family:migas;
    src: url(../fuentes/BarlowSemiCondensed-Medium.ttf);
}
 a{
    font-family: migas;
}
#pos li {
    cursor: row-resize;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 1px;
    display: inline-block;
    position: relative;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    width: 100px;
    color: #ffff;
}
/*///////////////////////////////////////*/
#pos a{
    color:white;
    text-decoration: none;
}


#pos li:after {
    content: '\00bb'; /* Isto significa >> */
    opacity: 0;
    right: 0;
    transition: 0.5s;
}

#pos:hover li {
    padding-right: 25px;
}

#pos:hover li:after {
    opacity: 1;
    right: 25px;
}


