header{
    font-family: arial;
    color:#FFFFFF;
    width: 100%;
    height: 300px;
    background-color:#FFF3CF;
    background-image:url(../fotos/stp.jpg);
}


article p{
    width: 600px;
    text-align: justify;
}
#fotoLeo{
   
    background-color: blue;
    float: left;
    width: 400px;
    height: 380px;
    margin: 0px;
    margin-top: 10px;
   
}
article{
    padding: 30px 0 0 40px;
    float: left;
    width: 700px;
    text-align: justify;
}
figure{
    float:left;
   
}
section{
    margin: 100px 0 0 200px;
    background-color: #F9EAB2  ;
    margin: 100px 0 0 200px;
    height: 400px;
    width: 70%;
}